<p id="notice"><%= notice %></p>

<h3>Title:</h3>
<%= @post.name %>
<h3>Content:</h3>
<%= @post.content %>
<h3>Tags:</h3>
<ul>
  <% @post.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>
<h3>Comments:</h3>
<div id="comments">
  <% @post.comments.each do |comment| %>
    <p><%= comment.content %> </p>
  <% end %>
</div>

<h4>Post a new comment:</h4>
<%= form_for [@post, Comment.new], remote: true do |f| %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    <%= f.hidden_field :post_id, :value => @post.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
